<form (submit)="onSubmit($event)">
  <div>
    <label for="value">Valor</label>
    <input name="value" type="number" placeholder="R$" />
  </div>
  <div>
    <label for="type">Tipo</label>
    <select name="type" [formControl]="type">
      <option value="entrada">Entrada</option>
      <option value="saída">Saída</option>
    </select>
  </div>
  <div>
    <label for="description">Descrição</label>
    <textarea
      name="description"
      placeholder="Descrição"
      [formControl]="description"
    ></textarea>
  </div>
  <button type="submit">Cadastro</button>
</form>
